.game {
  --cell-size: 100px;
  --player-size: calc(0.8 * var(--cell-size));
  --shift: calc(
    (var(--cell-size) - var(--player-size)) / 2
  );

  position: relative;
  width: calc(3 * var(--cell-size));
  border: 2px solid #000;
}

.game__field {
  display: flex;
  flex-wrap: wrap;
}

.game__cell {
  box-sizing: border-box;
  height: var(--cell-size);
  width: var(--cell-size);
  border: 1px dashed #000;
}

.game__player {
  position: absolute;
  top: var(--shift);
  left: var(--shift);

  height: var(--player-size);
  width: var(--player-size);
  background-color: #000;
  border-radius: 50%;
}

.game__player--y--1 {
  top: var(--shift);
}

.game__player--y--2 {
  top: calc(var(--cell-size) + var(--shift))
}

.game__player--y--3 {
  top: calc(2 * var(--cell-size) + var(--shift))
}

.game__player--x--1 {
  left: var(--shift);
}

.game__player--x--2 {
  left: calc(var(--cell-size) + var(--shift))
}

.game__player--x--3 {
  left: calc(2 * var(--cell-size) + var(--shift))
}

.game__player--color--red {
  background-color:red;
}

.game__player--color--green {
  background-color:green;
}

.game__player--color--blue {
  background-color:blue;
}